/* Styles for mobile devices */
@media (max-width: 767px) {
    .logo a {
      font-size: 36px;
    }
    
    .name {
      margin: 40px 20px 0 20px;
    }
    
    .name img {
      height: 300px;
      width: 300px;
    }
    
    .title h1 {
      font-size: 32px;
    }
    
    .title h2 {
      font-size: 24px;
    }
    
    .name blockquote {
      width: 100%;
    }
    
    .work ul {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .work li {
      height: auto;
      width: 80%;
      margin-bottom: 20px;
    }
    
    .aboutme {
      flex-direction: column;
      height: auto;
    }
    
    .aboutme img {
      margin: 40px auto;
      height: 300px;
      width: 80%;
    }
    
    .aboutme p {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    
    footer {
      margin-left: 10px;
      margin-top: 50px;
      width: 100%;
    }
  }
  